@import url('https://fonts.googleapis.com/css?family=Kreon|Yanone+Kaffeesatz|Raleway');
/*
BLUE- rgba(39, 55, 178);
VIOLETE - rgba(107, 124, 255);
Mustar - rgba(255, 222, 107);
GOLD - rgba(255, 207, 41);
Cement - rgba(178, 173, 154);
font-family:"Yanone Kaffeesatz", serif;
font-family:"Kreon", sans-serif;
*/
body{
    margin: 0;
}
.center{
    text-align: center;
}
.align{
    display: inline-block;
}

.liStyle{
    list-style: none;
}
header{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainHeader{
    text-align: left;
    background-color: rgba(39, 55, 178, .9);
    padding-bottom: 3rem;
    padding-top: 1rem;
}
#mainLogo{
    padding-left: 10.7rem;
    width: 20rem;
    padding-bottom: 3rem;
    
}
#tel{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    
}
#tel>a{
    color: white;
    text-decoration: none;
    border: 1px solid rgba(107, 124, 255, 1);
    padding: 1rem 1.5rem;
    border-radius: 25px;
    background-color: rgba(107, 124, 255, 1);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3px;
    
}
/*nav*/
section#nav{
    background-color: rgba(39, 55, 178, .9);
    text-align: center;
}

ul#navUl{
    display: inline-block;
    background-color: rgba(255, 207, 41, 1);
    width: 83%;
    border-radius: 25px;
    margin: 0 .5rem 3rem;
    padding-left: 0;
    border: 3px solid rgba(178, 173, 154, .2);
    box-shadow:0px 0 20px 4px rgba(0, 0, 0, .2) inset;
}
li#productos_destacados,li#catalogo,li#iKEY,li#registrar_producto,li#noticias,li#distribuidores{
    font-size: 1.5rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    font-family:"Yanone Kaffeesatz", serif;
    color: #000;
}
li.align.liStyle{
    font-size: 3rem;
    padding: 0 2rem;
}

li#inicio{
    position: absolute;
    border: 1px solid rgba(255, 207, 41, 1);
    box-shadow:0px 0 20px 4px rgba(0, 0, 0, .2) inset; 
    top:27.8rem;
    left:653px;
    border-radius: 50%;
    text-align: center;
    width: 5rem;
    height: 4.5rem;
    padding: 0;
    background-color:rgba(255, 207, 41, 1);
    z-index: 5;
}
li#iKEY{
    margin-left: 4rem;
}
li#noticias{
    margin-right: 4rem;
}

a#round-btn{
    display: inline-block;
    vertical-align: middle;
}
#antobot_icon{
    width: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}
img#antobot_icon{
    transition: transform
}
li#productos_destacados:hover,li#catalogo:hover,li#iKEY:hover,li#registrar_producto:hover,li#noticias:hover,li#distribuidores:hover, img#antobot_icon:hover{
    transform: scale(1.2, 1.2);
}

/*Section One*/
#sec1{
    height:40rem; 
    background-color:  rgba(178, 173, 154, .2);

}
#sec1>h1{
    font-family:"Yanone Kaffeesatz", serif;
    padding-top: 1rem;
    margin-top:0;
    letter-spacing: 3px;
}
ul#ulFade{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 2rem 0;

}
li.liFade{
    position: absolute;
    left: 50%;
    margin-left: -285px;
    opacity: 0;
}
li.liFade>a>img{
    width: 40rem;
}
img#multicode_img{
    height: 32rem;
}
/*Slide show animation*/
li.liFade:nth-child(5) {
  animation: xfade 20s 0s infinite;
}
li.liFade:nth-child(4) {
  animation: xfade 20s 4s infinite;
}
li.liFade:nth-child(3) {
  animation: xfade 20s 8s infinite;
}
li.liFade:nth-child(2) {
  animation: xfade 20s 12s infinite;
}
li.liFade:nth-child(1) {
  animation: xfade 20s 16s infinite;
}

@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
/*Section Areas*/
section#areas{
    background-color: rgba(39, 55, 178, 1);
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
section#areas>div{
/*    padding: 0 3%;*/
    margin: 2%;
    width: 30%;
}
section#areas>div>h2{
    color: rgba(255, 207, 41, 1);
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 3px;
}
section#areas>div>p{
    font-family: "Raleway", sans-serif;
    line-height: 1.8rem;
    color: white;
}
img#venta-img,img#des-img, img#cap-img{
    width: 15rem;
}
/*Mission section*/
#mission-section{
    background-color: rgba(178, 173, 154, .2);
    height: 15rem;
    margin: 0;
}
#mission-div{
    height: inherit;
    vertical-align: middle;
}
#mission-div>h1{
    display: block;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 3px;
    margin-top:0;
    padding: 2rem;
    color: black;
}
h3#q{
    vertical-align: middle;
    margin: auto 0;
    font-size: 5rem;
    color: black;
}

p#mission{
    color: black;
    padding: 1rem 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 35px;
}

/*footer*/
#footer-section{
    height:20rem;
    background-color: rgba(255, 207, 41, 1);
    margin: 0 auto;
}
#footer{
    height: inherit;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
}
#footer1{
    width: 40%;
    padding: 1rem 0 1rem 1rem;
}
#footer1>h2{
    font-size: 1.5rem;
    padding-bottom: 0rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 3px;
    margin: 0;
}
#footer1>legend{
    font-size: 1.2rem;
    padding: .5rem;
    padding-left: 0;
    font-family: "Raleway", sans-serif;
    color: white;
}
#footer1>#pregunta{
    width: 80%;
    height: 50px;
}
#footer2{
    font-family: "Yanone Kaffeesatz", sans-serif;
    width: 40%;
}
#footer2>h2{
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 3px;
}
#derechos{
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
    vertical-align: bottom;
}
