@import url('https://fonts.googleapis.com/css?family=Kreon|Yanone+Kaffeesatz');
/*
BLUE- rgba(39, 55, 178);
VIOLETE - rgba(107, 124, 255);
Mustar - rgba(255, 222, 107);
GOLD - rgba(255, 207, 41);
Cement - rgba(178, 173, 154);
font-family:"Yanone Kaffeesatz", serif;
font-family:"Kreon", sans-serif;
*/
body{
    margin: 0;
}
.center{
    text-align: center;
}
.align{
    display: inline-block;
}

.liStyle{
    list-style: none;
}
#mainHeader{
    text-align: center;   
}
#mainLogo{
    padding: 3rem;
}
ul#navUl{
    padding-left: 3.1rem;
    margin-bottom: 0;
    background-color: rgba(255, 207, 41);
}
li#productos_destacados,li#catalogo,li#iKEY,li#registrar_producto,li#noticias,li#distribuidores{
    font-size: 1.5rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    font-family:"Yanone Kaffeesatz", serif;
}
li.align.liStyle{
    font-size: 3rem;
    padding: 0 2rem;
}
ul.nav{
    border-top: 1px solid rgba(178, 173, 154);
    border-bottom: 1px solid rgba(178, 173, 154);
    box-shadow:0px 0 20px 4px rgba(0, 0, 0, .2) inset;
}
li#inicio{
    position: absolute;
    border: 1.5px solid rgba(178, 173, 154);
    box-shadow:0px 0 20px 4px rgba(0, 0, 0, .2) inset; 
    top:20.3rem;
    border-radius: 50%;
    text-align: center;
    width: 5rem;
    height: 4.5rem;
    padding: 0;
    background-color: rgba(255, 207, 41);
    z-index: 5;
}
li#registrar_producto{
    margin-left: 5.8rem;
}

a#round-btn{
    display: inline-block;
    vertical-align: middle;
}
#antobot_icon{
    width: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}
img#antobot_icon{
    transition: transform
}
img#antobot_icon:hover{
    transform: scale(1.2, 1.2);

}
#sec1{
    height:40rem; 
    background-color: rgba(39, 55, 178);
}
ul.ulFde{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
li.liFade{
    position: absolute;
    left: 50%;
    margin-left: -265px;
}
li.liFade>img{
    width: 40rem;
}
img#multicode_img{
    height: 32rem;
}